
<div class="row game-container">
    <div class="col-md-8">
        <div class="row">
            <div id="1" class="square" style="background-color: red;"  ng-click="play($event)"></div>
            <div id="2" class="square" style="background-color: green;" ng-click="play($event)"></div>
        </div>
        <div class="row">
            <div id="3" class="square" style="background-color: yellow;"  ng-click="play($event)"></div>
            <div id="4" class="square" style="background-color: blue;" ng-click="play($event)"></div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div id="title">Level {{ config.level }}</div>
        </div>
    </div>
</div>

