<div class="row">
    <div class="col-md-12">
        <h3>Scores</h3>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-6">
        Search: <input ng-model="query">
    </div>
</div>
<hr/>
<div class="row"> 
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><a class="btn" ng-click="orderProp = 'name'; reverse=!reverse">Nom</a></th>
                    <th><a class="btn" ng-click="orderProp = 'score'; reverse=!reverse">Score</a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="score in scores.scores| filter:query | orderBy:orderProp:!reverse">
                    <td>{{score.name}}</td>
                    <td>{{score.score}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>